.container {
    max-width: 1024px;
}

.navbar-default {
    background-color: #EEE
}

.page-contents {
    padding-bottom: 70px;
}

h1 {
    text-transform: capitalize;
    text-align: center;
}

h1,h2,h3,h4 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 40pt;
}

.page-contents {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
}

.sidebar {
    text-align: center;
}

@media(min-width:1024px){
    .sidebar {
        text-align: right;
    }
}

.navbar-text {
    margin-left: 0px;
    margin-right: 0px;
}

.row {
    padding: 10px;
}

