<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <!-- <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
      <!-- link to skeleton stylesheet -->
      <link rel="stylesheet" href="/css/custom.css">
      <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-fixed-top">
        <div class="navbar-brand">
            <img src="X"></img>
        </div>
        <ul class="nav-tabs">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/cv">CV</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </nav>

      <div class="{{ page.title }}">
    
      {{ content }}
         
      </div>
      <footer>
        <p>mhminai</p>
        <p>Last updated on 2015-02-10</p>
      </footer>
    </div>
  </body>
</html>
